.jumbotron
{
    margin-bottom: 20px;
}
#greatwall
{
    background-image: url("img-greatwall.jpg");
}
#christ
{
    background-image: url("img-christ.jpg");
}
#machupicchu
{
    background-image: url("img-machupicchu.jpg");
}
#chichenitza
{
    background-image: url("img-chichenitza.jpg");
}
#colosseum
{
    background-image: url("img-colosseum.jpg");
}
#colosseum > .display-4
{
    color: white;
}
#tajmahal
{
    background-image: url("img-tajmahal.jpg");
}
#petra
{
    background-image: url("img-petra.jpg");
}
#petra > .display-4
{
    color: white;
}
#pDiv, .commentSection
{
    width: 600px;
}
.subHeader
{
    font-weight: bold;
}
.pHeader
{
    @extend .subHeader;
    font-size: 18px;
}
.topHeader
{
    @extend .subHeader;
    font-size: 25px;
}
#pDiv > div
{
    margin-top: 15px;
    margin-bottom: 5px;
}
#commentDiv
{
    margin-top: 10px;
}
#commentDiv > a
{
    color: white;
}
.source
{
    margin: 10px;
    font-size: 10px;
}