{% extends "info-layout.html" %}

{% block jumbotron %}
    <div class="jumbotron" id = "chichenitza" align = "middle">
        <h1 class="display-4">Chichen Itza (Yucatan Peninsula, Mexico)</h1>
    </div>
{% endblock %}

{% block h %}
    Introduction
{% endblock %}

{% block p1 %}
    The genius and adaptability of Mayan culture can be seen in the splendid ruins of Chichen Itza. This powerful city, a trading center for cloth, slaves, honey and salt, flourished from approximately 800 to 1200, and acted as the political and economic hub of the Mayan civilization. The most familiar ruin at the site is El Caracol, a sophisticated astronomical observatory.
{% endblock %}

{% block text %}
    <div><h class = "topHeader">Chichen Itza Tour Tips and Info</h></div>
    <div><h class = "pHeader">How do you get to Chichén Itzá?</h></div>
    <p2 class = "innerText">
        We suggest flying into Merida or Cancun and then taking our Chichén Itzá tour or hiring a car. The journey takes around two to three hours by car. You can fly direct from Gatwick with British Airways or Virgin as well as with Condor Airlines from Manchester. Our specialists recommend spending a full day at the site to fully explore without rushing. Spring and autumn equinoxes offer the chance to see the incredible shadow serpent of El Castillo—but the often crowded site is extremely packed at these times.
    </p2>
    <div><h class = "pHeader">When is the best time to visit Chichén Itzá?</h></div>
    <p3 class = "innerText">
        November to April is an ideal time to visit Chichén Itzá on a vacation to Mexico, avoiding the rainy season and the coldest months. You can find out more about the weather in Mexico in our practical information section. We would recommend staying at a hotel close to the site, enabling you to visit before the day-trippers arrive and when it's still cool.  See our accommodation ideas further down in this guide.
    </p3>
    <div><h class = "pHeader">What can you see there?</h></div>
    <p4 class = "innerText">
        We recommend visiting with one of our guides who can show you the different parts of the site and explain the history of Chichén Itzá in more detail. The Maya’s astronomical skills were so advanced they could even predict solar eclipses, and an impressive and sophisticated observatory structure remains on the site today. Look out for the lizards and iguanas scurrying around the ruins.
    </p4>
    <div><h class = "pHeader">The sinkhole of treasures</h></div>
    <p5 class = "innerText">
        At Chichén Itzá you can visit the spectacular Cenote Sagrado, a large sinkhole that measures 60 metres in diameter. All sorts of treasures have been found here including rings, necklaces, gold and jade objects, as well as the bones of young women that were thrown into the water as an offering to Chaac, the Mayan rain god.
    </p5>
    <div><h class = "pHeader">The largest ball court in Mesoamerica</h></div>
    <p6 class = "innerText">
        Chichén Itzá's ball court is the largest in the Americas. Measuring over 160 metres long and 70 metres wide, Mayan men played a game called Pok Ta Pok here. Anthropologists believe that the object of the game was to hurl a ball through a ring that was mounted on a wall, seven metres above the ground. Each team had six field players who would attempt to pass the ball - using any body part except their hands - to their captain who would attempt the shot using a racket of sorts. The captain of the team that made the first successful shot was then decapitated as a sacrifice to the gods. This was seen as an honour and guaranteed entrance into heaven.
    </p6>
    <div><h class = "pHeader">Did you know?</h></div>
    <p7 class = "innerText">
        <ul>
            <li>The name Chichén Itzá is a Mayan word: CHI (mouth) CHEN (well) and ITZA (of the witch water). Some say this is because people were often thrown into the nearby cenote as sacrifices, and those who survived were believed to be seers.</li>
            <li>Its location is believed to have been chosen because there are two large natural sinkholes nearby, which would have provided water year-round.</li>
            <li>The El Castillo pyramid has 365 steps - one for each day of the year. Each of the four sides has 91 steps; the top platform is the 365th.</li>
            <li>You can no longer climb any of the temples or structures unfortunately.</li>
            <li>Chichén Itzá was more than just a religious and ceremonial site. It was also a hub for regional trade. But after centuries of prosperity and absorbing influxes of other cultures, the city met a mysterious end. Scholars place the demise of the city anywhere between AD 1000 and the 1400's, when people abandoned the city and fled to the jungle, leaving no written record of why they left.</li>
        </ul>
    </p7>
    <div><h class = "pHeader">Nearby sites of interest</h></div>
    <p8 class = "innerText">
        The smaller and less crowded ruins of Uxmal, south of Merida and the barely restored Maya site of Coba are worth a visit during a trip to Mexico. The town of Merida is also worth a visit and still retains its colonial charm. Built on the site of an ancient Mayan city, it has a rich cultural life, reflected in its diversity and many free concerts, performances and events held daily.
    </p8>
    <div><h class = "pHeader"></h></div>
    <p9 class = "innerText">
        The pink flamingo sanctuaries and swimmable crystal-clear cenotes (sinkholes) are some of the natural attractions of the Yucatán Peninsula.  The cenotes do get very busy though, we'd recommend the ones closer to Merida and the coast. The Sian Ka'an biosphere on the coast is also worth a visit. The reserve is home to jaguar, puma, ocelot, monkeys, turtles, pecaries and a huge variety of land and aquatic birds. The Mayan Riviera also has beautiful white sand beaches and warm, turquoise seas and the famous ruins of Tulum at the southern end.
    </p9>
    <div><h class = "pHeader">What to pack</h></div>
    <p10 class = "innerText">
        The Yucatán Peninsula can get very hot around midday so wear light clothes, a hat, sun cream and comfortable shoes as you'll be doing lots of walking. Make sure you stay hydrated by drinking lots of water. If you take a private tour with one of our guides they will supply water.
    </p10>
    <div><h class = "pHeader">Is there anywhere nearby to eat?</h></div>
    <p11 class = "innerText">
        There are restaurants in the hotels near the ruin. We recommend Hacienda Chichén as it uses many homegrown ingredients but is a little expensive. Mayaland has six restaurants but can get busy with large groups.
    </p11>
{% endblock %}

{% block commentSection %}
    <div id = "outerDiv" align = "center">
        <div class = "innerDiv commentSection" align = "left">
            <h class = "exampleInputEmail1 innerText subHeader">Comments</h>
            <ul id = "ciComment" class = "innerText"></ul>
        </div>
    </div>
    <form>
        <div id = "outerDiv" align = "center">
            <div class="form-group innerDiv commentSection" align = "left">
                <label for="exampleFormControlTextarea1" class = "exampleInputEmail1 innerText subHeader">Add a public comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Type here"></textarea>
                <div id = "commentDiv">
                    <input class = "btn btn-primary mb-2" id = "commentButton" type = "submit" value = "Comment" onclick = "return false;">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block sources %}
    <p class = "source">Data on this page is directly taken from https://www.audleytravel.com/us/mexico/country-guides/a-first-timers-guide-to-chichen-itza</p>
{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename='js-chichenitza.html.js') }}"></script>
{% endblock %}

