{% extends "info-layout.html" %}

{% block jumbotron %}
    <div class="jumbotron" id = "colosseum" align = "middle">
        <h1 class="display-4">The Roman Colosseum (Rome)</h1>
    </div>
{% endblock %}

{% block h %}
    Introduction
{% endblock %}

{% block p1 %}
    Rome's, if not Italy's, most enduring icon is undoubtedly its Colosseum. Built between A.D. 70 and 80 A.D., it was in use for some 500 years. The elliptical structure sat nearly 50,000 spectators, who gathered to watch the gladiatorial events as well as other public spectacles, including battle reenactments, animal hunts and executions. Earthquakes and stone-robbers have left the Colosseum in a state of ruin, but portions of the structure remain open to tourists, and its design still influences the construction of modern-day amphitheaters, some 2,000 years later.
{% endblock %}

{% block text %}
    <div><h class = "topHeader">Roman Colosseum Tour Tips and Info</h></div>
    <div><h class = "pHeader">What part of Rome is the Colosseum in?</h></div>
    <p2 class = "innerText">
        The Colosseum and the Palatine are located in the central area of Rome. Close to the Roman Forum and also the Piazza Venezia, this site is conveniently placed near other tourist attractions and amenities. Your nearest Metro station is Colosseo (Line B) which is just 1 minutes away from the site itself and although the Metro service in the city isn’t the best for getting around the central districts, all of Rome’s top attractions are actually very well serviced.
    </p2>
    <div><h class = "pHeader"></h></div>
    <p3 class = "innerText">
        There are also a number of bus stops in the nearby area, with an option of a Hop-on/Hop-off bus service if you wish to see several sights in one day. Alternatively, you can get a taxi or use the Uber app on your phone to get a price quote before you agree to a taxi fare with the driver. But please bear in mind that on Sundays, motor traffic is forbidden in some limited traffic zones (for example Via dai Fori Imperiali, that is the street connecting Piazza Venezia and the Colosseum, across the Imperial and Roman Forum) so you will have to plan your transport in advance or set aside enough time for walking/cycling.
    </p3>
    <div><h class = "pHeader">Tickets and entry for the Colosseum Rome</h></div>
    <p4 class = "innerText">
        When it comes to getting your tickets for the Colosseum, there are a number of options you may want to consider.
    </p4>
    <div><h class = "subHeader">A) Book Online</h></div>
    <p5 class = "innerText">
        Booking your ticket online is often the easiest choice for many tourists because this eliminates the long queuing times when you buy your ticket from the ticket desk. Booking online allows you to also print your own ticket so you don’t have to wait for anything to arrive in the post. Please note that you may still need to visit the ticket desk to have your order code scanned by a member of staff before they give you an allocated time slot and physical ticket – so remember to read the small print! Print out your tickets.
    </p5>
    <div><h class = "subHeader">B) Ticket Office</h></div>
    <p6 class = "innerText">
        For travellers who haven’t planned ahead, it’s the dreaded queues at the ticket desks. But don’t be fooled into thinking the desk outside the Colosseum is the only place you can buy a ticket from. Queues here are long so if you don’t have time to wait around, try one of the other nearby ticket offices such as Via di San Gregorio (Palatine), Largo Salara Vecchia or former Largo Romolo e Remo (Roman Forum) and Via Sacra (Roman Forum, Arco di Tito). Without an advance ticket for entry, you can expect to queue anywhere between 45 to 60 minutes to actually get into the Colosseum so be aware that if you haven’t booked an allocated timeslot for your arrival, you could spend more time queuing outside than actually inside the monument.
    </p6>
    <div><h class = "subHeader">C) Go with a tour!</h></div>
    <p7 class = "innerText">
        Tour operators provide today carefully curated tours so that you can get the best out of Rome in the limited time that you have, and you won’t have to worry about tickets, bookings, transport elements or Rome’s road restrictions. Roma Experience offers both shared tours and private tours to suit your budget and travel preferences and all entry, including tickets into the Colosseum will be included.  Rome tour packages allow you to skip the line and we can also give you exclusive access to the Colosseum’s underground tunnels.
    </p7>
    <div><h class = "pHeader">What to see</h></div>
    <p8 class = "innerText">
        The Colosseum is so vast and when you’re amidst the large crowds of tourists, it can easily be an overwhelming experience – especially when you don’t have a guide to show you all the must-see features. Roma Experience’s guided tours of the Colosseum will give you the history and background of this world famous monument, whilst talking you through all the unseen and quite often missed elements of the arena. If you are going without a guided tour, here are the things that you simply cannot miss!
    </p8>
    <div><h class = "subHeader">Arena floor</h></div>
    <p9 class = "innerText">
        This is where all the action was and to look up at the top seating areas will highlight just how large the Colosseum really is!
    </p9>
    <div><h class = "subHeader">Hypogeum</h></div>
    <p10 class = "innerText">
        This is the underground level beneath the arena floor where slaves, prisoners, animals and gladiators were kept during public spectacles and events.
    </p10>
    <div><h class = "subHeader">The Third Tier</h></div>
    <p11 class = "innerText">
        Like the underground tunnels, the Third Tier section of the Colosseum is not accessible for the general public and you must book with a tour like our Colosseum Underground in order to experience it. The Third Tier is definitely worth it as you will experience the incredible height of the amphitheatre and get the most incredible views.
    </p11>
    <div><h class = "subHeader"></h></div>
    <h class = "subHeader">Tickets to the Colosseum will also include the Palatine Hill and the Roman Forum</h>
    <p12 class = "innerText">
        so we would definitely recommend setting aside a whole day to explore this. Be sure to see The Fori Romani, Septimius Severus’s Arch, The House of the Vestals, The Arch of Constantine, the arch of Septimius Severus, the hippodrome of Domitian, and the famous Palatine Hill where all started. And also, remember to bring a good quality camera as this combined ticket really does go far in terms of site coverage and archaeological monuments. You will see so much along the way! There are small fountains providing drinkable water in the Roman Forum and on the Palatine Hill, so bring a bottle to fill up especially during the summer because it can be really hot. Wear comfortable shoes.
    </p12>
    <div><h class = "pHeader">Insider Tips</h></div>
    <p13 class = "innerText">
        If you want to get the most out of your Colosseum visit, here are our top inside tips!
    </p13>
    <div><h class = "subHeader">1. Go Twice!</h></div>
    <p14 class = "innerText">
        It might sound crazy to spend twice the money and twice the amount of time but like many wonders of the world, the Colosseum deserves to be seen both in the day and at night. Just as you would experience Petra by morning and then camp under the stars at night, or just as you would turn up to Angkor Wat for sunrise only to return again for sunset, the Colosseum is very much worth it. You could book a tour for both day and night, or you could tour the inside in the day and return at night to watch it light up in the dark blue twilight sky.
    </p14>
    <div><h class = "subHeader">2. Go with a Guide</h></div>
    <p15 class = "innerText">
        Go with a guided tour to get the most out of your Colosseum visit. Not only can you jump the queue and get a knowledgeable guide to tell you all about the amphitheater’s history but you will also gain exclusive access to certain areas of the site which are not open to the rest of the paying public; a group tour of the Colosseum is a great option if you are on a budget but you still want to see all the highlights and you don’t want to miss out the chance to have a professional guide who is able to make the glorious past of ancient Rome come back to life again.
    </p15>
    <div><h class = "subHeader">3. Dedicate a Whole Day (At least)</h></div>
    <p16 class = "innerText">
        Don’t sell yourself short and end up having to rush. The Colosseum, Palatine Hill and Roman Forum cover a vast amount of space and with such busy tourist crowds around, it can take you quite a few hours to get through everything you want to see. There are also other attractions in the nearby area and plenty of nice places to sit down, grab a drink and relax so set aside at least a whole day for central Rome so you can enjoy it at your own pace. Although the Vatican is close by, it is better to do the Colosseum and Vatican on different days. Actually, not that it is impossible, people do it, but it is tiring and there is just so much to absorb in each site, so much to see and touch and experience that if you have two days, we would recommend to do Ancient Rome and Vatican City in two different days. Some companies, however, do offer all-inclusive tours of Rome in one day. It is tiring but feasible. So if you are young and energetic go for it!
    </p16>
{% endblock %}

{% block sources %}
    <p class = "source">Data on this page is directly taken from https://www.romaexperience.com/the-colosseum-rome/</p>
{% endblock %}

{% block commentSection %}
    <div id = "outerDiv" align = "center">
        <div class = "innerDiv commentSection" align = "left">
            <h class = "exampleInputEmail1 innerText subHeader">Comments</h>
            <ul id = "rmComment" class = "innerText"></ul>
        </div>
    </div>
    <form>
        <div id = "outerDiv" align = "center">
            <div class="form-group innerDiv commentSection" align = "left">
                <label for="exampleFormControlTextarea1" class = "exampleInputEmail1 innerText subHeader">Add a public comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Type here"></textarea>
                <div id = "commentDiv">
                    <input class = "btn btn-primary mb-2" id = "commentButton" type = "submit" value = "Comment" onclick = "return false;">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename='js-colosseum.js') }}"></script>
{% endblock %}