{% extends "info-layout.html" %}

{% block jumbotron %}
    <div class="jumbotron" id = "greatwall" align = "middle">
        <h1 class="display-4">Great Wall of China (China)</h1>
    </div>
{% endblock %}

{% block h %}
    Introduction
{% endblock %}

{% block p1 %}
    <!-- Intro -->
    Built between the 5th century B.C. and the 16th century, the Great Wall of China is a stone-and-earth fortification created to protect the borders of the Chinese Empire from invading Mongols. The Great Wall is actually a succession of multiple walls spanning approximately 4,000 miles, making it the world's longest manmade structure.
{% endblock %}

{% block text %}
    <!-- Page info -->
    <div>
        <h class = "topHeader">Great Wall Tour Tips</h>
    </div>
    <p2 class = "innerText">
        Have a rest on Great Wall
        Whenever you see this venerable Great Wall, you must feel deep esteem. If you are planning long haul travel to it to look in depth upon this the world's greatest feat of engineering, some of the must-know facts below may be helpful in preparation for your exploration.
    </p2>
    <div>
        <h class = "subHeader">Which Section to Visit</h>
    </div>
    <p3 class = "innerText">
        Besides the best sections like Badaling and Mutianyu, there are many other popular and interesting sections, including Jinshanling, Simatai, Juyongguan, Jiankou, and Gubeikou in Beijing, Shanhaiguan and Laolongtou in Hebei Province, and Jiayuguan in Gansu Province. One should choose according to your preference and physical strength.
    </p3>
    <div>
        <h class = "subHeader">Badaling</h>
    </div>
    <p4 class = "innerText">
        As the grandest and most splendid of all, Badaling is the best section of the Great Wall. It is easily accessible from downtown Beijing, and is equipped with handrails, cableway and pulley, making it easier and safer to climb.
    </p4>
    <div>
        <h class = "subHeader">Recommended Vacation Packages including the visit to Badaling:</h>
    </div>
    <p5 class = "innerText">
        <ul>
            <li>4-Day Small Group to Beijing from $259: join the group to visit Badaling, Sacred Way, Ming Tombs, Forbidden City...</li>
            <li>3-Day Private Beijing Tour from $199: travel to Great Wall, Tiananmen Square, Summer Palace...</li>
            <li>Beijing One-Day Tours from $59: 10 itineraries for you to choose, covering major attractions in and around the city.</li>
        </ul>
    </p5>
    <div>
        <h class = "subHeader">Mutianyu</h>
    </div>
    <p6 class = "innerText">
        Mutianyu is the second best-preserved section after Badaling, with remarkable natural scenery. It is steeper than Badaling but less congested by tourists during big holidays. Thus, it may be your priority during some holidays, especially National Day Holiday (October 1st to 7th).
    </p6>
    <div>
        <h class = "subHeader">Recommended Tour Packages including the visit to Mutianyu:</h>
    </div>
    <p7 class = "innerText">
        <ul>
            <li>2-Day Beijing Tour from $149: 2 days private itinerary of Mutianyu, Tiananmen Square, Forbidden City, Summer Palace...</li>
            <li>1-Day Beijing VIP Small Group Tour from $125: no shopping tour to Forbidden City and Mutianyu Great Wall</li>
            <li>1-Day Mutianyu Hiking from $59: private guided hiking on Mutianyu Great Wall</li>
        </ul>
    </p7>
    <div>
        <h class = "subHeader">Jinshanling</h>
    </div>
        Jinshanling is famous for its intoxicating scenery and great variety of watchtowers. The distinctive watchtowers along the winding wall resemble musical notes on a staff. It is an ideal place for photographers and hikers.
    <div>
        <h class = "subHeader">Simatai</h>
    </div>
    <p8 class = "innerText">
        If you fancy an adventure, it is better to visit Simatai, which has had less renovation yet is well preserved.  You will seldom encounter vacationers. But, elders and those who are not in good physical condition are advised not to climb this section in view of its cragginess.
    </p8>
    <div>
        <h class = "pHeader">Best Time to Visit</h>
    </div>
    <p9 class = "innerText">
        The scenery of the Great Wall varies with the seasons, which offers many features and fodder for photographers who seek to obtain characteristic photographic works at any time of the year. However, if you are an ordinary visitor, the best times are spring and autumn, especially May, September or early October when it is usually sunny, with brisk temperatures, leaving you more refreshed and comfortable.

        Although it is hotter, June to August is an alternative, as the tourist season is in full swing. November to April is always bitterly cold with biting winds, when the Great Wall encounters few, if any, tourists.
    </p9>
    <div>
        <h class = "pHeader">What to Pack</h>
    </div>
    <div>
        <h class = "subHeader">Clothing</h>
    </div>
    <p10 class = "innerText">
        The temperature variation between day and night along the Great Wall is obvious. TravelChinaGuide suggests a loose cotton T-shirt and a loose trousers rather than denim. However, if you go there in summer, wear shorts for daytime hiking and put on warm clothes such as jacket or sweater in the evening for you will feel somewhat cool, particularly in autumn. Good advice if you are to avoid catching cold.

        Due to the steep inclines along the wall, trainers may be a good choice for shoes. Never wear high heels or you will quickly suffer from fatigue and in any event, they are hazardous in such locations. Anyway, make yourself as comfortable as possible.
    </p10>
    <div>
        <h class = "subHeader">Food and Drink</h>
    </div>
    <p11 class = "innerText">
        Your hike may last for 2-3 hours. Take some snacks along, while a good supply of water is necessary to avoid dehydration. These can be purchased on the Badaling section but at a possibly unexpected higher price. Remember, there are no sales on other sections. However, do not drink too much water for there are no washrooms midway only those around the ticket office and the entrance.
    </p11>
    <div>
        <h class = "pHeader">Health and Safety</h>
    </div>
    <p12 class = "innerText">
        <ul>
            <li>Carry an umbrella to protect you from the sun as well as potential rainfall.</li>
            <li>Anoint yourself with some sunscreen and wear sunglasses to avoid the harm from strong ultraviolet radiation.</li>
            <li>Please inquire about the weather condition before traveling. Do not visit the wall on rainy days. In case it rains while you are on the wall, do not use cell phone, broadcast or any other communication equipment. Turn their power off and take shelter in a beacon tower to avoid lightning strike.</li>
            <li>As it is always dry in spring, autumn and winter, moisturizer may be helpful to moisturize your skin.</li>
            <li>It is quite windy in spring, autumn and winter, especially on the Great Wall due to its high altitude, so scarves can be warm and windproof to protect your face.</li>
            <li>Some sections of the wall are very steep but still can be manageable, use the handrail.</li>
            <li>Do not be bold to climb the undeveloped sections where the areas are insecure or damaged, or you may injured by the breakage of the wall.</li>
            <li>Carry some medicines such as remedies for cold, carsickness and some Band-Aids so that they are readily available should the need arise.</li>
        </ul>
    </p12>
    <div>
        <h class = "pHeader">Other Travel Tips</h>
    </div>
    <p13 class = "innerText">
        <ul>
            <li>Get up in the early morning at about 07:00 to catch the first official tourist bus to arrive at the Badaling around 09:00-10:00 to avoid the large crowds of tourists, and thus you can get an early return to the city proper in the evening.</li>
            <li>For travel to Badaling , you can also hire a taxi and have a round trip journey for about CNY400.00 according to the taxi type and your negotiation with the taxi driver.</li>
            <li>Allow two to three hours for your visit when in Badaling section.</li>
            <li>Cable cars are only available in Badaling, Mutianyu, Simatai and Jinshanling sections.</li>
            <li>You should be aware that noisy hawkers could be a problem on the wall.</li>
            <li>Learn more of the culture and history of the Great Wall before your hiking trip, to have a more informed experience.</li>
            <li>For protection of this world heritage, graffiti is not allowed on the wall.</li>
            <li>Please leave no litter on the wall, there are waste bins provided.</li>
        </ul>
    </p13>
{% endblock %}

{% block sources %}
    <p class = "source">Data on this page is directly taken from https://www.travelchinaguide.com/china_great_wall/travel.htm</p>
{% endblock %}

{% block commentSection %}
    <!-- Implement comment section -->

    <!-- List of comments -->
    <div id = "outerDiv" align = "center">
        <div class = "innerDiv commentSection" align = "left">
            <h class = "exampleInputEmail1 innerText subHeader">Comments</h>
            <ul id = "gwComment" class = "innerText"></ul>
        </div>
    </div>

    <!-- Input section for comments -->
    <form>
        <div id = "outerDiv" align = "center">
            <div class="form-group innerDiv commentSection" align = "left">
                <label for="exampleFormControlTextarea1" class = "exampleInputEmail1 innerText subHeader">Add a public comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Type here"></textarea>
                <div id = "commentDiv">
                    <input class = "btn btn-primary mb-2" id = "commentButton" type = "submit" value = "Comment" onclick = "return false;">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename='js-greatwall.js') }}"></script>
{% endblock %}
