{% extends "info-layout.html" %}

{% block jumbotron %}
    <div class="jumbotron" id = "petra" align = "middle">
        <h1 class="display-4">Petra (Jordan)</h1>
    </div>
{% endblock %}

{% block h %}
    Introduction
{% endblock %}

{% block p1 %}
    Declared a World Heritage Site in 1985, Petra was the capital of the Nabataean empire of King Aretas IV, and likely existed in its prime from 9 B.C. to A.D. 40. The members of this civilization proved to be early experts in manipulating water technology, constructing intricate tunnels and water chambers, which helped create an pseudo-oasis. A number of incredible structures carved into stone, a 4,000-seat amphitheater and the El-Deir monastery have also helped the site earn its fame.
{% endblock %}

{% block text %}
    <div><h class = "topHeader">Petra Tour Tips</h></div>
    <div><h class = "pHeader">How much does it cost to visit Petra?</h></div>
    <p2 class = "innerText">
        As of April 2017, a one-day ticket to visit Petra costs 50 JD (£57 / 70 USD). As there is so much to see, many people opt to visit for multiple days. A two-day ticket costs 55 JD and three-day ticket costs 60 JD. Children under 12 enter free. Petra By Night tickets cost 17 JD (more info on that below). Remember to take your passport in order to purchase your ticket.
    </p2>
    <div><h class = "pHeader"></h></div>
    <p3 class = "innerText">
        Oh, and if you’re a resident of Jordan it’s super cheap… just 1 JD!
    </p3>
    <div><h class = "pHeader">How much does it cost for a guided tour of Petra?</h></div>
    <p4 class = "innerText">
        A private guide for the main trail costs 50 JD. You can arrange it at the visitor centre when you arrive. There are plenty of tour companies you can book to travel to Petra with. I visited with Abraham Tours who were very friendly and efficient. Fin out more about my experience here.
    </p4>
    <div><h class = "pHeader">What time does Petra open and close?</h></div>
    <p5 class = "innerText">
        Petra’s Visitor Centre is open each day from 6am to 6pm during the summer and 6am to 4pm in the winter. This is the place to buy tickets, arrange a guide or pick up a map of the site. While there doesn’t seem to be an official ‘closing time’ there are instructions at the front gate saying you need to leave the site by 7pm in summer and 5pm in winter, unless you’re attending Petra By Night.
    </p5>
    <div><h class = "pHeader">When is the best time to visit Petra?</h></div>
    <p6 class = "innerText">
        I’d recommend getting to the site as early as possible. We arrived at 8am and avoided lots of the big tour groups, making for a more pleasant experience. It can get extremely hot during the day so you’ll want to prioritise the bigger treks in the morning and late afternoon. Also, avoid rainy days as the valley is prone to flooding.
    </p6>
    <div><h class = "pHeader">How much is a horse and carriage, donkey or camel in Petra?</h></div>
    <p7 class = "innerText">
        You actually get a horse ride included in your ticket at the entrance, but it’s often thought of as a bit of a scam! The owners will ask for costly tips, so if in doubt agree the final fee before you accept the ride, or avoid altogether.
    </p7>
    <div><h class = "pHeader"></h></div>
    <p8 class = "innerText">
        A horse and carriage from the entrance to the Treasury costs 20 JD (two ways) and 40 JD to get to and from the main basin area. As there are lots of trails, many of them steep with numerous steps, many people choose to travel by donkey. We paid 15 JD for two donkeys up the Al-Kubtha trail (the viewpoint overlooking The Treasury).
    </p8>
    <div><h class = "pHeader"></h></div>
    <p9 class = "innerText">
        As camels and horses can’t travel up steps, and there is much debate as to how well any of the animals are kept, it’s best to walk unless you’re incredibly short on time (as we were) or not very mobile.
    </p9>
    <div><h class = "pHeader">What are the key sites I have to see on my first visit to Petra?</h></div>
    <p10 class = "innerText">
        The Siq, The Treasury, The Monastery, High Place of Sacrifice and the Royal Tombs. It’s too much to see in a day but if you have the chance to stay a few, then that’s the dream itinerary!
    </p10>
    <div><h class = "pHeader">How do I travel to Petra?</h></div>
    <p11 class = "innerText">
        Many visit Petra as part of an organised tour – but that’s not the only way! There is the option of public transport from Amman and Aqaba, or you can hire a car and drive. Petra is a three-hour drive from Amman and just under two hours from Aqaba.
    </p11>
    <div><h class = "pHeader"></h></div>
    <p12 class = "innerText">
        If you’re looking for public transport to Petra, JETT Bus leaves from Abdali station in Amman at 6.30am and arrives to Petra around 10.30an. It then returns to the city at 5pm. Or from Aqaba, public buses leave from the central market and travel to Petra. More info here.
    </p12>
    <div><h class = "pHeader"></h></div>
    <p13 class = "innerText">
        You can book a group tour to Petra from Amman here, from Eilat here or from Aqaba here.
    </p13>
    <div><h class = "pHeader">How much time do I need to see Petra?</h></div>
    <p14 class = "innerText">
        How long is a piece of string?! I only had around 6 hours there, but could have easily spent several days. We raced around the site, keen to pack as much in as possible, but it would have been nice to explore at a leisurely pace. I’d opt for two or three days, and stay at a hotel nearby so you can enter the site early in the morning.
    </p14>
    <div><h class = "pHeader">What is Petra By Night?</h></div>
    <p15 class = "innerText">
        Every Monday, Wednesday and Thursday there’s magical light show at Petra, with 1500 candles lighting the route to along The Siq to The Treasury. Along with the beautiful views, there are tales from local Bedouin people and live music. The experience begins at 8.30pm from Petra Visitor Centre and finishes at 10.30pm. Tickets cost 17 JD. You can find out more here: Petra By Night.
    </p15>
    <div><h class = "pHeader">How safe is Petra? </h></div>
    <p16 class = "innerText">
        I’d read a few blogs before travelling, and had a pretty mixed impression on safety at Petra. I was with my boyfriend so didn’t feel nervous, and saw plenty of solo female travellers exploring the site. I think the biggest dangers are to do with being scammed and ripped off, so as long as you know what price you’re aiming for when you’re haggling, you should be fine! There are parts where the ground is quite even and rocks are crumbling, so be sure to wear sensible shoes and look where you’re going.
    </p16>
{% endblock %}

{% block sources %}
    <p class = "source">Data on this page is directly taken from https://www.wanderlustchloe.com/petra-jordan-travel-guide-tips/</p>
{% endblock %}

{% block commentSection %}
    <div id = "outerDiv" align = "center">
        <div class = "innerDiv commentSection" align = "left">
            <h class = "exampleInputEmail1 innerText subHeader">Comments</h>
            <ul id = "petraComment" class = "innerText"></ul>
        </div>
    </div>
    <form>
        <div id = "outerDiv" align = "center">
            <div class="form-group innerDiv commentSection" align = "left">
                <label for="exampleFormControlTextarea1" class = "exampleInputEmail1 innerText subHeader">Add a public comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Type here"></textarea>
                <div id = "commentDiv">
                    <input class = "btn btn-primary mb-2" id = "commentButton" type = "submit" value = "Comment" onclick = "return false;">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename='js-petra.js') }}"></script>
{% endblock %}