{% extends "info-layout.html" %}

{% block jumbotron %}
    <div class="jumbotron" id = "tajmahal" align = "middle">
        <h1 class="display-4">Taj Mahal (Agra, India)</h1>
    </div>
{% endblock %}

{% block h %}
    Introduction
{% endblock %}

{% block p1 %}
    A mausoleum commissioned for the wife of Mughal Emperor Shah Jahan, the Taj Mahal was built between 1632 and 1648. Considered the most perfect specimen of Muslim art in India, the white marble structure actually represents a number of architectural styles, including Persian, Islamic, Turkish and Indian. The Taj Mahal also encompasses formal gardens of raised pathways, sunken flower beds and a linear reflecting pool.
{% endblock %}

{% block text %}
    <div><h class = "topHeader">Taj Mahal Tour Tips</h></div>
    <div><h class = "pHeader">Location</h></div>
    <p2 class = "innerText">
        Agra, in the state of Uttar Pradesh, approximately 200 kilometers (125 miles) from Delhi. It's part of India's popular Golden Triangle Tourist Circuit.
    </p2>
    <div><h class = "pHeader">When to Go</h></div>
    <p3 class = "innerText">
        The best time is from November to February, otherwise it can be unbearably hot or rainy. You'll be able to get some excellent off-season discounts though.
    </p3>
    <div><h class = "pHeader"></h></div>
    <p3 class = "innerText">
        The Taj Mahal appears to gradually alter its color in the changing light of the day. It’s well worth the effort to get up early and spend sunrise there, as it majestically reveals itself. Visiting around dawn will also enable you to beat the huge crowds that start arriving later in the morning.
    </p3>
    <div><h class = "pHeader">Getting There</h></div>
    <p4 class = "innerText">
        The Taj Mahal can be visited on a day trip from Delhi. Agra is well connected by rail. The main railway station is Agra Cantt. High speed Shatabdi Express services operate from Delhi, Varanasi, and cities in Rajasthan.
    </p4>
    <div><h class = "pHeader"></h></div>
    <p5 class = "innerText">
        The new Yamuna Expressway (opened in August 2012) has reduced the travel time by road from Delhi to Agra to under three hours. It starts from Noida and a toll of 415 rupees per car for a one way trip (665 rupees round trip) is payable.
    </p5>
    <div><h class = "pHeader"></h></div>
    <p6 class = "innerText">
        Alternatively you can fly from major Indian cities, or take a tour from Delhi.
    </p6>
    <div><h class = "pHeader">Taj Mahal Tours</h></div>
    <p7 class = "innerText">
        Viator (in conjunction with Tripadvisor) offers a popular and highly rated Private Day Tour to Agra and the Taj Mahal from Delhi, as well as a combined Day Tour to Agra and Fatehpur Sikri and Day Tour to Agra with Culture Walk. It's also possible to see the Taj Mahal at night during the full moon on this 2 Day Private Tour of Agra from Delhi.
    </p7>
    <div><h class = "pHeader"></h></div>
    <p8 class = "innerText">
        Alternatively, see the Taj Mahal on one of these recommended Agra day tours: 11 Hour Agra Day Tour including Sunrise and Sunset at Taj Mahal, Private Taj Mahal and Agra Fort Tour including meal with a view and optional professional photographer, or Sunrise or Sunset View of Taj Mahal on Yamuna River Boat Ride.
    </p8>
    <div><h class = "pHeader"></h></div>
    <p9 class = "innerText">
        If you're looking for an inexpensive tour option, UP Tourism runs daily full-day sightseeing bus tours to the Taj Mahal, Agra Fort and Fatehpur Sikri. The cost is 650 rupees for Indians and 3,000 rupees for foreigners. The price includes transport, monument entry tickets, and guide fees.
    </p9>
    <div><h class = "pHeader">Opening Hours</h></div>
    <p10 class = "innerText">
        6 a.m. to 7 p.m. every day except Friday (when it's closed for prayer). The Taj Mahal is also open for moonlight viewing from 8.30 p.m. until 12.30 a.m., two days before and after each full moon.
    </p10>
    <div><h class = "pHeader">Entry Fees and Information</h></div>
    <p11 class = "innerText">
        For foreigners, the entrance fee for the Taj Mahal is 1,000 rupees.
    </p11>
    <div><h class = "pHeader"></h></div>
    <p12 class = "innerText">
        Indian nationals only pay 40 rupees. Children younger than 15 years are free. Tickets can be purchased at ticket offices near the entry gates or online at this website. (Do note, tickets for the Taj Mahal are no longer able to be purchased at Agra Fort or other monuments, and only offer a minimal discount if you wish to visit other monuments on the same day).
    </p12>
    <div><h class = "pHeader"></h></div>
    <p13 class = "innerText">
        The foreigner's ticket includes shoe covers, bottle of water, tourist map of Agra, and bus or golf cart service to the entry gate. It also enables ticket holders to enter the Taj Mahal ahead of any Indian ticket holders already waiting in line.
    </p13>
    <div><h class = "topHeader"></h></div>
    <p14 class = "innerText">
        Night time tickets cost 750 rupees for foreigners and 510 rupees for Indian nationals, for half an hour’s admittance. These tickets must be purchased between 10 a.m. and 6 p.m., one day in advance from the Archaeological Survey of India office on Mall Road.
    </p14>
    <div><h class = "topHeader"></h></div>
    <p15 class = "innerText">
        Vehicles aren't allowed within 500 meters of the Taj Mahal because of pollution. There are three entry gates -- South, East, and West.
    </p15>
    <div><h class = "topHeader"></h></div>
    <p16 class = "innerText">
        <ul>
            <li> The West gate is the main gate that the majority of local Indian visitors enter through, and it generally has the longest lines throughout the day. However, it's the preferred option at sunrise to avoid the crowds at the East gate.</li>
            <li>The East gate is popularly used by foreign tourists, as it's closest to a number of well-known hotels. It usually has shorter queues except for at sunrise, when large groups tend to arrive there. If you buy your ticket in advance the day before, it's still the best entry point though. Do note that the ticket office (in Shilpgram) is inconveniently located about 10 minutes walk from the gate. Buses, golf carts and cycle rickshaws are available for those that can't, or don't want to, walk.</li>
            <li>The South gate is the least-used gate. It's close to a congested market area where many of the cheap hotels are situated, making it favored by budget and independent travelers. However, it doesn't open until 8 a.m. A huge sandstone gateway provides access to the inner compound there.</li>
        </ul>
    </p16>
    <div><h class = "topHeader"></h></div>
    <div><h class = "pHeader">Security at the Taj Mahal</h></div>
    <p17 class = "innerText">
        Strict security is in place at the Taj Mahal, and there are checkpoints at the entrances. Your bag will be scanned and searched. Large bags and day packs aren't allowed to be taken inside. Only small bags containing essential items are permitted. This includes one cell phone, a camera, and a water bottle per person. You can't bring edibles, tobacco products or lighters, electrical items (including phone chargers, headphones, iPads, torches), knives, or camera tripods inside. Cell phones are also banned during night viewing sessions, although cameras are still allowed. Luggage storage facilities are provided at the entry gates.
    </p17>
    <div><h class = "pHeader">Guides and Audio Guides</h></div>
    <p18 class = "innerText">
        If you want to marvel over the Taj Mahal without the distraction of having a tour guide with you, government-approved AudioCompass provides an inexpensive official Taj Mahal audio guide on its cell phone app. It's available in many foreign and Indian languages including English, French, German, Italian, Spanish, and Japanese.
    </p18>
    <div><h class = "pHeader">See the Taj Mahal Without Going Inside</h></div>
    <p19 class = "innerText">
        If you don’t want to pay the costly admission fee or battle the crowds, you can get a great view of the Taj from across the river bank. This is ideal for sunset. Once such place there is Mehtab Bagh -- a 25 acre Mughal garden complex directly opposite the monument. The entry cost is 200 rupees for foreigners and 20 rupees for Indians, and it's open until sunset. The view is one to remember!
    </p19>
    <div><h class = "pHeader"></h></div>
    <p20 class = "innerText">
        It's possible to take a row boat out on the river. Head down the path along the eastern wall of the Taj Mahal to the riverside temple, where you will find boatmen.
    </p20>
    <div><h class = "pHeader"></h></div>
    <p21 class = "innerText">
        There's also a little-known abandoned watchtower across a sandy field on the eastern side of the Taj Mahal. It's an ideal place for a splendid sunset view of the monument. Reach it by heading east from the East Gate and taking a right at the fork in the road. Pay the official 50 rupees to enter.
    </p21>
    <div><h class = "pHeader"></h></div>
    <p22 class = "innerText">
        Uttar Pradesh Tourism's Taj Khema hotel offers notable vistas of the Taj Mahal from its gardens too. A new marble bench was installed on a mound there in early 2015, especially for visitors. Sip tea and watch the sunset! The hotel is located about 200 meters from the monument, on the eastern side. It's a government-run establish, so don't expect great service though.
    </p22>
    <div><h class = "pHeader"></h></div>
    <p23 class = "innerText">
        Another option is the rooftop of the Saniya Palace hotel, on the southern side of the Taj Mahal.
    </p23>
    <div><h class = "pHeader">Where to Stay</h></div>
    <p24 class = "innerText">
        Unfortunately, many of the hotels in Agra are as uninspiring as the city itself. However, these 11 Agra Homestays and Hotels with Taj Mahal Views should help make your stay a memorable one. There are accommodations to suit all budgets.
    </p24>
    <div><h class = "pHeader">Dangers and Annoyances</h></div>
    <p25 class = "innerText">
        Visiting the Taj Mahal can be overwhelming for all the wrong reasons. Be prepared to encounter plenty of beggars and touts there. According to this news report, it has become an increasingly troublesome problem, and many visitors go back home feeling cheated, threatened and abused. Touts operate in sophisticated gangs that have counterparts in other cities who identify potential targets at railway stations. Once the tourists reach Agra, the touts start pestering them by claiming that they are guides or taxi drivers. They commonly use ploys such as free taxi rides or the promise of heavy discounts.
    </p25>
    <div><h class = "pHeader"></h></div>
    <p26 class = "innerText">
        Do be sure to tell auto rickshaw drivers which Taj Mahal entry gate you wish to be taken to, otherwise it's likely that you'll find yourself dropped off in the area where expensive horse and cart or camel rides wait to take tour groups to the west gate.
    </p26>
    <div><h class = "pHeader"></h></div>
    <p27 class = "innerText">
        Apparently, there are only 50-60 approved guides at the Taj Mahal. However, more than 3,000 touts posing as photographers, guides or middleman, openly solicit customers at the monument's three gates (especially at the western gate, which receives around 60-70% of visitors). Hundreds of hawkers (who pay bribes to the police) are also a problem at the Taj Mahal, despite being officially banned.
    </p27>
    <div><h class = "pHeader"></h></div>
    <p28 class = "innerText">
        In addition, foreigners, particularly women and parents with young children, are frequently asked to pose for photographs (or even being photographed without permission) by other people including groups of guys.  This can be intrusive and uncomfortable. This news article warns about selfie seekers at the Taj Mahal.s
    </p28>
    <div><h class = "pHeader"></h></div>
    <p29 class = "innerText">
        Lastly, do be aware of the notorious gem scam, which is alarming prevalent in Agra.
    </p29>
{% endblock %}

{% block sources %}
    <p class = "source">Data on this page is directly taken from https://www.tripsavvy.com/taj-mahal-essential-travel-guide-1539343</p>
{% endblock %}

{% block commentSection %}
    <div id = "outerDiv" align = "center">
        <div class = "innerDiv commentSection" align = "left">
            <h class = "exampleInputEmail1 innerText subHeader">Comments</h>
            <ul id = "tmComment" class = "innerText"></ul>
        </div>
    </div>
    <form>
        <div id = "outerDiv" align = "center">
            <div class="form-group innerDiv commentSection" align = "left">
                <label for="exampleFormControlTextarea1" class = "exampleInputEmail1 innerText subHeader">Add a public comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Type here"></textarea>
                <div id = "commentDiv">
                    <input class = "btn btn-primary mb-2" id = "commentButton" type = "submit" value = "Comment" onclick = "return false;">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename='js-tajmahal.js') }}"></script>
{% endblock %}